<h1>
Deep Linking Launch
</h1>

<h5>Deep Linking Return Url</h5>

{{ deep_linking_return_url }}

<h5>Select resource to deep link:</h5>

<div style="display: flex; flex-direction: column; gap: 2rem;">
{% for resource in resources %}
    <form method="POST" action="{{ deep_linking_return_url }}">
        <input name="JWT" value="{{ resource.jwt }}" />
        <button>
            {{ resource.title }}
        </button>
    </form>
{% endfor %}
</div>